<div class=" col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_name}}" placeholder="Full Name" name="u_name" />
        <label for="floatingInput">Full Name</label>
    </div>
</div>
<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_age}}" placeholder="Age" name="u_age" />
        <label for="floatingInput">Age</label>
    </div>
</div>

<div class="form-floating col-6">
  <select class="form-select" id="floatingSelect" value="{{this.u_gender}}" name="u_gender" aria-label="Floating label select example" >
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="others">Others</option>
  </select>
  <label for="floatingSelect">Gender</label>
</div>

<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_phno}}" placeholder="Phone no" name="u_phno" />
        <label for="floatingInput">Phone no</label>
    </div>
</div>

<div class=" col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_altphno}}" placeholder="Phone no" name="u_altphno" />
        <label for="floatingInput">Alternative Phone no</label>
    </div>
</div>

<div class=" col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_mail}}" placeholder="email" name="u_mail" />
        <label for="floatingInput">Email</label>
    </div>
</div>

<div class=" col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_altmail}}" placeholder="Alt email" name="u_altmail" />
        <label for="floatingInput">Alternative Email</label>
    </div>
</div>

<div class=" col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.u_address}}" placeholder="address" name="u_address" />
        <label for="floatingInput">Address</label>
    </div>
</div>

{{!-- <div class=" col-12">
    <div class="form-floating mb-3">
        <textarea class="form-control" id="floatingInput" placeholder="Leave a comment here" name="address" style="height: 100px;">{{this.u_address}}</textarea>
        <label for="floatingInput">Address</label>
    </div>
</div> --}}

<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>
