{{#if removeduser}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        User has been removed
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<div class="row">
  <div class="col-6"><h1>Collaborator's Details</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Add Collaborator</a>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Collaboration Type</th>
      <th scope="col">Team Members Count</th>
      <th scope="col">Service</th>
      <th scope="col">Name</th>
      <th scope="col">Phone no</th>
      <th scope="col">Alt.Phone no</th>
      <th scope="col">Email</th>
      <th scope="col">Alt.Email</th>
      <th scope="col">Team Members Names</th>
      {{!-- <th scope="col">Password</th> --}}
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
      {{#each rows}}
    <tr>
      <th scope="row">{{this.u_id}}</th>
      <td>{{this.u_name}}</td>
      <td>{{this.u_age}}</td>
      <td>{{this.u_gender}}</td>
      <td>{{this.u_phno}}</td>
      <td>{{this.u_altphno}}</td>
      <td>{{this.u_mail}}</td>
      <td>{{this.u_altmail}}</td>
      <td>{{this.u_address}}</td>
      {{!-- <td>{{this.u_password}}</td> --}}
      <td class="text-end">
          <a href="/viewuser/{{this.u_id}}" type="button" class="btn btn-dark btn-small"><i class="bi bi-eye"></i> View</a>
          <a href="/edituser/{{this.u_id}}" type="button" class="btn btn-dark btn-small"><i class="bi bi-pencil"></i> Edit</a>
          <a href="/{{this.u_id}}" type="button" class="btn btn-dark btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
